.bannerImageWrapper {
  position: relative;
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 74px;
  height: 74px;
  flex: none;
  border-radius: 0.625rem;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.2);
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
    transition: filter 0.3s;
}

.bannerImage:hover {
  filter: brightness(135%);
}

@media only screen and (max-width: 768px) {
  .bannerImageWrapper {
    width: 56px;
    height: 56px;
  }
}
