.imageEventContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.imageEventContainer img {
    border-radius: 1.563rem;
    height: auto;
    margin: auto;
    transition: box-shadow .3s ease-in-out;
    width: 100%;
}

.imageEventContainer a {
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .imageEventContainer a {
        width: 65%;
    }
}

.imageEventContainer img:hover {
    box-shadow: 0 0 1.563rem .188rem rgba(255, 255, 255, 0.8);
}

.soloImage {
    padding-bottom: 3rem;
}

.articlePageImg {
    width: 24rem !important;
    margin: 0 auto !important;
}

.articlePageImg:hover {
    box-shadow: 0 0 1.563rem .188rem rgba(0, 0, 0, 0.8) !important;
}
