.white {
    color: white;
    text-align: center;
}

.purple {
    color: #8e6ace;
}

/* Coming Soon Styling */
.comingSoonDesc {
    font-size: large;
    width: 80%;
}

.comingSoonContainer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.comingSoonTitle {
    font-size: 3rem;
    padding-top: .9rem;
    margin-bottom: .5rem;
}

/* FAQ Styling */
.faqSectionOne { 
    flex: 1.3;
}

.faqSectionTwo {
    flex: 2.7;
}

.faqLink {
    text-decoration: none;
    font-size: xx-large;
    color: rgb(13, 110, 253);
}

.faqLink:hover {
    filter: brightness(80%);
}

.faqContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.faqGameImage {
    border-radius: 1.563rem;
    height: auto;
    transition: box-shadow .3s ease-in-out;
    width: 10rem;
}

.faqGameContainer {
    border: .19rem solid #8d7db5;
    border-radius: .33rem;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    gap: 8px;
    padding: 8px;
    width: fit-content;
    margin: 0 auto;
}

.faqQuestion {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bolder;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .5rem;
}

.faqAnswer {
    color: #8d7db5;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.faqAnswerLink {
    color: #fff;
    text-decoration: underline;
}

.faqTextContainer {
    text-align: left;
    border: .19rem solid #8d7db5;
    border-radius: .33rem;
    width: 95%;
    margin-bottom: 1rem;
}

.faqTitle {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.faqLinkTitle {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

@media only screen and (max-width: 1575px) {
    .faqGameContainer {
        grid-template-columns: repeat(2, 10rem);   
    }
}

@media only screen and (max-width: 768px) {
    .faqGameContainer {
        grid-template-columns: repeat(1, 10rem); 
    }
}


@media only screen and (max-width: 400px) {
    .faqTextContainer {
        width: 100%;
    }
}

/* Articles Styling */
.articleSectionOne { 
    flex: 2.7;
    justify-content: left;
}

.articleSectionTwo {
    flex: 1.3;
}

.articleContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    max-width: 100%;
    margin: 0 auto;
}

.articleHeaderText {
    padding-top: 1rem;
    color: black;
    text-align: left;
    font-weight: 700;
    line-height: 1.5;
}

.articleLink {
    text-decoration: none;
    color: blue;
}

.articleSectionOne p, .articleSectionOne h1, .articleSectionOne h3 {
    color: black;
    text-align: left;
    font-weight: 700;
    line-height: 1.5;
}

.articleSectionOne h3 {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: xx-large;
}

.articleSectionOne p {
    font-size: large;
}

.ital {
    font-style: italic;
}

.articleTextContainer {
    width: 80%;
    margin: 0 auto;
}

.articleLanMap {
    background-image: linear-gradient(#00000080,#00000080),url(https://i.imgur.com/gvdIL9C.png);
    background-position: 50%;
    background-size: cover;
    height: 15rem;
    width: 100%;
}

.articleImageContainer {
    width: 80%;
    margin: 0 auto;
}

.expandArticleImage {
    width: 100%;
}

.otherArticles {
    text-align: center;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
