.cover {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 100%;
    border-radius: .5rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coverText {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.mapButtonLans {
    position: absolute;
    bottom: 10%;
    width: 12.5%;
    height: 2.5rem;
}

.mapButtonLansSolo {
    position: absolute;
    bottom: 10%;
    width: 15%;
    height: 2.5rem;
}

.mapButtonGame {
    position: absolute;
    bottom: 2.5%;
    width: 15%;
    height: 2.5rem;
}

.mapButton {
    background-color: rgb(49, 49, 49);
    color: rgb(141, 125, 181);
    border: .125rem solid rgb(144, 125, 181);
    transition-duration: 0.4s;
    border-radius: .5rem;
    font-weight: bold;
    font-family: 'Helvetica';
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    padding-top: .25rem;
}

.mapButton:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
    cursor: pointer;
}
