.headerImage {
  display: flex;
  justify-content: center; 
  align-items: center;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
  /* filter: brightness(80%); */
}

.noTitle {
  padding-bottom: 10%;
  padding-top: 6%;
}

.headerImage h2 {
    color: white;
    font-size: 5rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
}

.headerImageTitle {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}

.verificationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.verification {
  width: 12.5%;
  height: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.locationText {
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.2s ease;
    background: transparent;
    border: 2px solid rgb(142, 106, 206);
    margin-bottom: .25rem;
    cursor: auto;
}

.verifiedHost {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.verificationText {
  width: 20%;
  margin-left: .5rem;
}

.verificationCheck {
  width: 3.5%;
  margin-right: .5rem;
}

@media only screen and (max-width: 1000px) {
    .noTitle {
        padding-bottom: 20%;
        padding-top: 10%;
    }

    .headerImage h2 {
      font-size: 3.5rem;
    }
}

/* THIS IS A NOTE TO CHECK THE OLD SITE FOR SPECIFIC STYLINGS OF IMAGES USED FOR GAME PAGES */
