
.gamesPage {
    --bg-image: url("../../assets/images/headers/header-games-page_9.6.26.webp");
}

.lansPage {
    --bg-image: url("../../assets/images/headers/header-lans-page_9.6.26.webp");
}

.articlesPage {
    --bg-image: url("../../assets/images/headers/header-articles-page_9.6.26.webp");
}

.leaguesPage {
    --bg-image: url("../../assets/images/headers/header-leagues-page_9.6.26.webp");
}

.tournamentsPage {
    --bg-image: url("../../assets/images/headers/header-tournaments-page_9.6.26.webp");
}

.comingSoonPage {
    --bg-image: url("../../assets/images/headers/header-articles-page_9.6.26.webp");
}

.reportPage {
    --bg-image: url("../../assets/images/headers/report a problem header.webp");
}

.codGamePage {
    --bg-image: url("../../assets/images/game_headers/game-page-header-call-of-duty_9.6.26.webp");
}

.codh2hPage {
    --bg-image: url("../../assets/images/game_event_headers/Cod H2H Header (9.13.26).webp");
}

.codWagersPage {
    --bg-image: url("../../assets/images/game_event_headers/Cod Wagers Header (9.13.26).webp");
}

.rlGamePage {
    --bg-image: url("../../assets/images/game_headers/game-page-header-rocket-league_9.6.26.webp");
}

.rlh2hPage {
    --bg-image: url("../../assets/images/game_event_headers/RL H2H Header (9.13.26).webp");
}

.rlLeaguePage {
    --bg-image: url("../../assets/images/game_event_headers/Rocket League Leagues Header (9.13.26).webp");
}

.cs2GamePage {
    --bg-image: url("../../assets/images/game_headers/game-page-header-counter-strike-2_9.6.26.webp");
}

.cs2LeaguePage {
    --bg-image: url("../../assets/images/game_event_headers/CS2 Leagues Header (9.13.26).webp");
}

.cs2h2hPage {
    --bg-image: url("../../assets/images/game_event_headers/CS2 H2H Header (9.13.26).webp");
}

.cs2WagersPage {
    --bg-image: url("../../assets/images/game_event_headers/CS2 Wagers Header (9.13.26).webp");
}

.haloGamePage {
    --bg-image: url("../../assets/images/game_headers/game-page-header-halo_9.6.26.webp");
}

.haloLeaguePage {
    --bg-image: url("../../assets/images/game_event_headers/Halo Leagues Header (9.13.26).webp");
}

.haloWagerPage {
    --bg-image: url("../../assets/images/game_event_headers/Halo Wagers Header (9.13.26).webp");
}

.lolGamePage {
    --bg-image: url("../../assets/images/game_headers/game-page-header-league-of-legends_9.6.26.webp");
}

.lolLeaguePage {
    --bg-image: url("../../assets/images/game_event_headers/League of Legends Leagues Header (9.13.26).webp");
}

.lolWagerPage {
    --bg-image: url("../../assets/images/game_event_headers/Warzone Wagers Header (9.13.26).webp");
}

.valGamePage {
    --bg-image: url("../../assets/images/game_headers/game-page-header-valorant_9.6.26.webp");
}

.valLeaguePage {
    --bg-image: url("../../assets/images/game_event_headers/Valorant Leagues Header (9.13.26).webp");
}

.wzGamePage {
    --bg-image: url("../../assets/images/game_headers/game-page-header-warzone_9.6.26.webp");
}

.wzLeaguePage {
    --bg-image: url("../../assets/images/game_event_headers/Warzone Leagues Header (9.13.26).webp");
}

.nonVerifiedPage {
    --bg-image: linear-gradient(#00000080,#00000080), url("https://i.imgur.com/UDHxFWg.png");
}

.verificationPage {
    --bg-image: url("../../assets/images/headers/header-verification-page_9.6.26.webp");
    background-position: 50%;
    background-size: 120% 100%;
}

/* Verified Leagues */
.lockdownCODLeagues {
    --bg-image: url("https://i.imgur.com/tVzNJBC.png");
}

.titanLOLLeagues {
    --bg-image: url("https://i.imgur.com/ZK40Aqp.png");
}

.risenLOLLeagues {
    --bg-image: url("https://i.imgur.com/YEjzUC1.png");
}

.aegisLOLLeagues {
    --bg-image: url("https://i.imgur.com/KszKSRJ.png");
}

.rlpcRLLeagues {
    --bg-image: url("https://i.imgur.com/z6csqy2.png");
}

.lplVALLeagues {
    --bg-image: url("https://i.imgur.com/PGxAVgC.png");
}

.eventPage {
    --bg-image: url("https://i.imgur.com/i23FQEB.png");
}

.faceitEseaPage {
    --bg-image: url("https://i.imgur.com/wprrdO0.png");
}

.hrlPage {
    --bg-image: url("https://i.imgur.com/ROC6rFa.png");
}

.CLOLPage {
    --bg-image: url("https://i.imgur.com/53cm9uk.png");
}

.playflyPage {
    --bg-image: url("https://i.imgur.com/zzdeU7G.png");
}

.ccaPage {
    --bg-image: url("https://i.imgur.com/oa7VbOF.png");
}

.cvalPage {
    --bg-image: url("https://i.imgur.com/UP2XYrg.png");
}

/* Verified Head To Head Hosts */
.cmgPage {
    --bg-image: url("https://i.imgur.com/J6GvHPh.png");
}

.ugcPage {
    --bg-image: url("https://imgur.com/JeMuXtx.png");
}

.ganksterPage {
    --bg-image: url("https://i.imgur.com/eey54pw.png");
}

.faceitPage {
    --bg-image: url("https://i.imgur.com/SnIBAoc.png");
}

.eagentPage {
    --bg-image: url("https://i.imgur.com/vS99I8m.png");
}

.nemesisRLLeagues {
    --bg-image: url("https://imgur.com/octp6aT.png");
}

/* Verified LAN Hosts */
.charlestonCrownPage {
    --bg-image: url("https://i.imgur.com/24AyrUR.jpg");
}

.caliTier1 {
    --bg-image: url("https://imgur.com/Nbiw0cn.png");
}

.caliTier2 {
    --bg-image: url("https://imgur.com/L4FbRGw.png");
}

.caliTier3 {
    --bg-image: url("https://imgur.com/DejQHgR.png");
}

.caliTier4 {
    --bg-image: url("https://imgur.com/ByDuxt6.png");
}