
.gamesPage {
    --bg-image: url("https://i.imgur.com/S9U4H7T.png");
}

.lansPage {
    --bg-image: url("https://i.imgur.com/YeUPAmO.png");
}

.articlesPage {
    --bg-image: url("https://i.imgur.com/jGdypyL.png");
}

.leaguesPage {
    --bg-image: url("https://i.imgur.com/fackjly.png");
}

.tournamentsPage {
    --bg-image: url("https://i.imgur.com/6nqLPyu.png");
}

.comingSoonPage {
    --bg-image: url("https://i.imgur.com/gbB3YxJ.png");
}

.reportPage {
    --bg-image: url("https://i.imgur.com/PoCqBT9.png");
}

.codGamePage {
    --bg-image: url("https://i.imgur.com/kZaSdKo.png");
}

.codh2hPage {
    --bg-image: url("https://i.imgur.com/8Psf9G6.png");
}

.codWagersPage {
    --bg-image: url("https://i.imgur.com/wvSwn4l.png");
}

.rlGamePage {
    --bg-image: url("https://i.imgur.com/fomqXSz.png");
}

.rlh2hPage {
    --bg-image: url("https://i.imgur.com/lw7RZun.png");
}

.rlLeaguePage {
    --bg-image: url("https://i.imgur.com/7mjxr12.png");
}

.cs2GamePage {
    --bg-image: url("https://i.imgur.com/8dwjkca.png");
}

.cs2LeaguePage {
    --bg-image: url("https://i.imgur.com/uzLeW90.png");
}

.cs2h2hPage {
    --bg-image: url("https://i.imgur.com/JU7dWGw.png");
}

.cs2WagersPage {
    --bg-image: url("https://i.imgur.com/hIpj6hZ.png");
}

.haloGamePage {
    --bg-image: url("https://i.imgur.com/0aE94AJ.png");
}

.haloLeaguePage {
    --bg-image: url("https://i.imgur.com/Jsdvjf3.png");
}

.haloWagersPage {
    --bg-image: url("https://i.imgur.com/1Kelw3D.png");
}

.lolGamePage {
    --bg-image: url("https://i.imgur.com/W9afnxj.png");
}

.lolLeaguePage {
    --bg-image: url("https://i.imgur.com/NycBCVA.png");
}

.lolWagersPage {
    --bg-image: url("https://i.imgur.com/IG80Jig.png");
}

.valGamePage {
    --bg-image: url("https://i.imgur.com/HqldA9u.png");
}

.valLeaguePage {
    --bg-image: url("https://i.imgur.com/4Hsf0iz.png");
}

.wzGamePage {
    --bg-image: url("https://i.imgur.com/BdD5G0Y.png");
}

.wzLeaguePage {
    --bg-image: url("https://i.imgur.com/5uwlggv.png");
}

.nonVerifiedPage {
    --bg-image: linear-gradient(#00000080,#00000080), url("https://i.imgur.com/UDHxFWg.png");
}

.verificationPage {
    --bg-image: url("https://i.imgur.com/r1fPsVm.png");
    background-position: 50%;
    background-size: 120% 100%;
}

/* Verified Leagues */
.lockdownCODLeagues {
    --bg-image: url("https://i.imgur.com/qf800QP.png");
}

.titanLOLLeagues {
    --bg-image: url("https://i.imgur.com/ZK40Aqp.png");
}

.risenLOLLeagues {
    --bg-image: url("https://i.imgur.com/wL0VUZr.png");
}

.aegisLOLLeagues {
    --bg-image: url("https://i.imgur.com/Ic2JpQO.png");
}

.rplcRLLeagues {
    --bg-image: url("https://i.imgur.com/TFi8yMS.png");
}

.lplVALLeagues {
    --bg-image: url("https://i.imgur.com/PGxAVgC.png");
}

.eventPage {
    --bg-image: url("https://i.imgur.com/i23FQEB.png");
}

.faceitEseaPage {
    --bg-image: url("https://i.imgur.com/w9CfHeY.png");
}

.hrlPage {
    --bg-image: url("https://i.imgur.com/tMgYKvY.png");
}

.CLOLPage {
    --bg-image: url("https://i.imgur.com/cNf7oB0.png");
}

.playflyPage {
    --bg-image: url("https://i.imgur.com/zzdeU7G.png");
}

.ccaPage {
    --bg-image: url("https://i.imgur.com/wCKAcqK.png");
}

.cvalPage {
    --bg-image: url("https://i.imgur.com/TyJ5l9b.png");
}

/* Verified Head To Head Hosts */
.cmgPage {
    --bg-image: url("https://i.imgur.com/9SwZ1Zv.png");
}

.ugcPage {
    --bg-image: url("https://i.imgur.com/1kt4STg.png");
}

.ganksterPage {
    --bg-image: url("https://i.imgur.com/ABLzHic.png");
}

.faceitPage {
    --bg-image: url("https://i.imgur.com/UUcERxd.png");
}

.eagentPage {
    --bg-image: url("https://i.imgur.com/oNFYoiV.png");
}

/* Verified LAN Hosts */
.charlestonCrownPage {
    --bg-image: url("https://i.imgur.com/24AyrUR.jpg");
}