.eventBannerContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.eventSeparationContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.eventSeparationTitle {
  font-size: 5rem;
  color: white;
  font-weight: 450;
  text-align: center;
}

.lanMapContainer {
  border-radius: .5rem;
  position: relative;
  margin-bottom: 4rem;
}

.lanMap {
  width: 80%;
  justify-content: center;
  align-items: center;
  height: 50rem;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .lanMap {
    height: 35rem;
  }
}