.region {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    color: rgb(170, 166, 178);
    font-family: Helvetica;
    font-size: 0.82rem;
    font-weight: 600;
    margin: 0;
    text-shadow: none;
}
