.aWrapper {
    width: 40%;
}

.button {
    border: .125rem solid rgb(144, 125, 181);
    transition-duration: 0.4s;
    border-radius: .5rem;
    font-weight: bold;
    font-family: 'Helvetica';
    width: 100%;
    height: 2.5rem;
    font-size: inherit;
    margin-bottom: 2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.buttonInverted {
    background-color: rgb(141, 125, 181);
    color: white;

}

.buttonStandard {
    background-color: rgb(49, 49, 49);
    color: rgb(141, 125, 181);
}

.buttonStandard:hover {
    background-color: rgb(141, 125, 181);
    color: rgb(49, 49, 49);
}

.buttonInverted:hover {
    cursor: pointer;
}
