.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.grid > div {
    margin-top: 0 !important;
}

@media (max-width: 560px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
